*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
ul,ol{
    list-style: none;
}
body{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 14px;
    min-width: 1450px;
}
#top{
    width: 1350px;
    margin: 30px auto;
}
#top h1{
    float: left;
    transform: translate(180%, 0);
}
#top ul{
    float: right;
}
#top ul li{
    float: left;
    padding: 0 5px;
}
#top ul li a:hover{
color: white;
background: black;
padding: 10px;
}
#header{
    width: 1350px;
    height: 124px;
    margin: auto;
    clear: both;
}
#header ul li{
    float: left;
    padding:  50px 99px 0;
}
#header ul li a{
    font-weight: bold;
    font-size: 20px;
    display: block;
}
#header li a:hover{color:#f16136;}
.solid{width:100%;
		margin:auto;
		margin-top:20px;
		height:5px;
		background:#f16136;
		visibility:hidden;
		opacity:0;
		transform:scaleX(0);
		transition-property:opacity, transform;
		transition-duration:0.5s;}
#header li a:hover .solid{transform:scaleX(1);
						opacity:1;
						visibility:visible;}


#footer{
    clear: both;
    background: #333;
    height: 200px;
    color: white;
    line-height: 30px;
}
#footer_inner{
    width: 1350px;
    margin: auto;
    padding-top: 30px;

}
#footer h1{
    float: left;
    padding-right: 100px;
}
#footer #box{
    float: left;
}
#footer ul li{
    float:left;
    padding: 0 10px;
}
#footer ul li a{
    color: white;
}
#footer p{
    clear: both;
    padding-top: 10px;
    padding-left: 10px;
}
/*ν—¤λ”, ν‘Έν„°*/

.button{
    transition:all 0.5s;
			position:fixed;
			right:30px;
			bottom:50px;
			background:black;
			border-radius:50%;
            z-index: 10;
            }
		.button:hover{
            transform:translateY(-5px);
			box-shadow:5px 5px 10px rgba(0,0,0,0.3)
            }
		.button a{
            display:inline-block;
			padding:15px 0;
			text-align:center;
			width:51px;
			color:#fff;
            }

#mg{
    background: url(images/mainbanner.png) no-repeat center top;
     background-size:cover;
     
}
#mg p{
    text-align: center;
    font-size: 40px;
    line-height: 80px;
    color: white;
    height: 800px;
    padding-top: 300px;
}
#bg{
    background: url(images/bg1.png) no-repeat center top;
     background-size:cover;
    margin-top: -300px;
    overflow-x: hidden;                                                                                                            
    height: 1900px;
}
#bg_inner{
    width: 1350px;
    margin: auto;
    position: relative;
}
#bg .pic1{
    position: absolute;
    top: 200px;
    left: 0px;
    z-index: 1;
}
#bg .pic3{
    position: absolute;
    top: 1000px;
    left: 850px;
    z-index: 2;
}
#bg .pic4{
    position: absolute;
    top: 1200px;
    left: 0px;
    z-index: 3;
}
#bg .pic2{
    position: absolute;
    top: 500px;
    left: 400px;
    z-index: 10;
}
#bg .text1{
     position: absolute;
    top: 450px;
    left: 480px;
    font-size: 25px;
    font-family: 'Gowun Batang', serif;
}
#bg .text2{
     position: absolute;
    top: 790px;
    left: 980px;
    font-size: 25px;
    line-height: 45px;
    font-family: 'Gowun Batang', serif;
}
#happy{
    margin: auto;
    width: 1350px;
    height: 650px;
    text-align: center;
}
#happy h1{
    margin: 100px 0;
}
#happy dl{
    float: left;
    padding: 0 60px;
}
#happy dd{
    font-size: 18px;
    padding: 50px 0;
    line-height: 30px;
}
#fg_inner{
    width: 1100px;
    margin: auto;
}
#fg{
    background: url(images/subg.png) no-repeat center top;
    background-size:cover;
    height: 2200px;
    line-height: 40px;
}
#fg #img1{
    float: left;
    box-sizing: border-box;
    padding-top: 200px;
}
#fg #text1{
    float: right;
    box-sizing: border-box;
    padding-top: 300px;
}
#fg #text1 p{
    font-size: 20px;
    padding:  50px 0;
}
#fg #text2{
    float: left;
    padding-top: 100px;
}
#fg #img2{
    float: right;
    
}
#fg #text2 p{
    font-size: 20px;
    padding:  50px 0;
}
#fg #img3{
    float: left;
   
}
#fg #text3{
    float: right;
    padding-top: 100px;
}
#fg #text3 p{
    font-size: 20px;
    padding:  50px 0;
}
#fg span{
    color: orangered;
}
#fg h1{
    
font-family: 'Gowun Batang', serif;
}